.section {
  padding: 50px 0;
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: 0.2px;

  @include e(heading) {
    margin-bottom: 27px;
    font: normal normal 3.25rem/1.2 $font-family--secondary;
  }

  @include e(text) {
    margin: 0 auto;
    font: normal normal 1.25rem/1.5 $font-family--secondary;
  }
}
