.testimonials-section {
  @include e(content) {
    max-width: 352px;
    margin: 60px auto 0;

    @include mq(md) {
      max-width: 883px;
    }
  }

  @include e(row) {
    @include mq(md) {
      margin: 0 -12px 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include e(col) {
    margin-bottom: 23px;

    @include mq(md) {
      width: 50%;
      float: left;
      padding: 0 12px;
      margin-bottom: 0;
    }

    @include m(no-margin) {
      margin-bottom: 0;
    }
  }
}
